* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  body {
    padding: 20px;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .content {
    flex: 1;
    background: #333;
    padding: 12px;
  }
  .content.left {
    border-right: 4px solid #fff;
  }
  .form-group {
    width: 100%;
    overflow: hidden;
    margin: 4px 4px 4px 16px;
  }
  .label, .input {
    float: left;
  }
  .label {
    display: block;
    width: 80px;
    font-weight: 600;
    color: #fff;
  }
  .input {
    padding: 4px 8px;
    border: 1px solid #ccc;
    outline: none;
    width: 220px;
    height: 24px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    margin: 12px 0 0 236px;
  }
  .student {
    list-style: none;
    float: left;
    width: 250px;
    background: #fff;
    padding: 8px;
    line-height: 24px;
    margin: 8px;
    position: relative;
  }
  .student span {
    font-weight: 600;
  }
  .student-delete, .student-edit {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: #ccc;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
  }
  .student-delete:hover, .student-edit:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
  }
  .student-edit {
    top: 40px;
  }
  .student-delete:hover {
    cursor: pointer;
    background: #999;
  }
  .createStudent:hover {
    background: #333;
    color: #fff;
  }